<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
  <main></main>

<div id="menu">
  <div id="menu-items">
    <a href="/" class ="menu-item">Home</a>
    <a href="/signup" class ="menu-item">Sign up</a>
    <a href="/login" class ="menu-item">Log In</a>
    <a href="/facts" class ="menu-item">New Anime to Watch</a>
  </div>
  <div id="menu-background-pattern"></div>
  <div id="menu-background-image"></div>
</div>
    {{!-- <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <a href="/login">Log In</a>
    <a href="/facts">Facts</a> --}}
</body>
</html>